/* .footer__item{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    min-height: 20vh;
    background-color: aqua;
} */

.footer__body {

    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: rgb(53, 31, 110);
    min-height: 100px;
    padding: 0px 0px;
    flex-direction: column;
    /* margin-top: 5px; */
    background-size: 100px;   

}


.footer__body .social__items,
.footer__body .footer__menu
{

    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.wave{
    position: absolute;
    top:-100px;
    left: 0;
    width: 100%;
    height: 100px;    
    /* margin-top: 10px; */
    background-size: 1000px 100px;     
    
}
  
.footer__body .social__items >li
{

    list-style: none;
    font-size: 1rem;
    color: rgb(167, 181, 193);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer__body .social__items >li:hover{
    
   transform: translateY(-5px);
}

.footer__body .footer__menu >li{

    list-style: none;
    font-size: 1rem;
    color: rgb(143, 132, 159);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
}

.footer__body .footer__menu >li:hover{
    
    color: aliceblue;
    
}

.footer__body > p{

    color: beige;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1em;

}


#wave1 
  {
    background: url(/public/images/wave_purple.png);
    z-index: 1000;
    opacity: 0.75;    
    animation: animateWave 6s infinite linear ;
    
}

#wave2{
   
    z-index: 999;
    background: url(/public/images/wave_purple.png);
    /* bottom: 10px;     */    
    opacity: 0.5;    
    animation: animateWave2 6s infinite linear ;
}

#wave3{
   
    z-index: 998;
    background: url(/public/images/wave_purple.png);
    /* bottom: 20px;     */ 
    opacity: 0.25;    
    animation: animateWave3 6s infinite linear ;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }

}

@keyframes animateWave2 {
    0% {
        background-position-x: 10px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave3 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 250px;
    }
}

 
 