.navbar__style{
    visibility: visible;
    animation-delay:0.1s;
    animation-name: fadeIn;  
    background-color: rgb(186, 168, 164 );  
    height: 80px;
    margin-top: 8px;
    top: -5px;
    transition: .5s;
    position: sticky;
    z-index: 1020;
    /* box-shadow: 10px 10px 5px rgb(7, 154, 159),-0.5em 0 .5em rgb(7, 154, 159); */
    border-top: 2px solid rgb(100, 76, 71 );
    border-bottom:3px solid rgb(100, 76, 71 );
    
}

.navbar__color{
    background-color: rgb(186, 168, 164 );   
}

.color__colapse{
    background-color: rgb(186, 168, 164 )!important;  
}

.text__style{
    
 font-size: 1.5rem;
 margin-left: 10px;
}

.navbar-nav > .nav-item > a { 

   margin-right: 20px;  
   color: rgb(8, 26, 26)!important;
   
}

.text__style > li > a:hover  {   
    
    color: rgb(167, 107, 216)!important;
    text-shadow: 2px 1px rgb(4, 5, 5);
    
 }
 .menu__style{
     color:black!important;
 }

 /* .menu__style .navbar-toggler-icon{
     color:black!important;
 } */

 .icon__color > span > i{
    color:black!important;
    font-size: 35px;
 }
 @media(max-width: 991px){
     .container-fluid{
         /* margin-top: 5px;
         margin-bottom: 5px; */
         background-color: rgb(217, 202, 202)!important;  
     }
     .text__style{
         font-size: small;
     }
     
 }