
.image{

  width: 100%;
  height: 400px; 
  object-fit:cover;
}

.carousel__style{
    
    padding-top: 8px;
    margin-bottom: 30px;

}

.title__style > h5{
  font-size: 20px; 
  text-transform: uppercase;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  
}

.carousel-inner{
  border:3px solid rgb(58, 8, 8);
  box-shadow: 10px 10px 5px rgb(167, 131, 123),-0.5em 0 .5em rgb(167, 131, 123);
  border-radius: 10px;
}


